.toc-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 5px #888888;
    right: 20px !important;
    float: right;
    clear: both;
    position: relative;
    display: block;
    width: max-content;
    max-width: 250px;
    z-index: 20;
    padding: 15px 15px;
}

.toc-1 {
    display: block;
    /*
    font-weight: 400;
    font-size: 1.8em;
    */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc-2 {
    display: block;
    padding-left: 15px;
    /*
    font-weight: 400;
    font-size: 1.4em;
    */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc-3 {
    display: block;
    padding-left: 30px;
    /*
    font-weight: 500;
    font-size: 1.2em;
    color: #5C7080;
    */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}